language: ruby
services: mongodb
rvm:
  - 1.9.2
  - 1.9.3
  - rbx
branches:
  only:
    - master
matrix:
  include:
    - rvm: jruby
      env: JRUBY_OPTS="--1.9 --server -Xcext.enabled=true"
    - rvm: jruby-head
      env: JRUBY_OPTS="--1.9 --server -Xcext.enabled=true"
